.about-neet-title{
    text-align: center;
}

.about-neet-title h2{
    font-size: 30px;
    font-weight: 600;
}

.about-neet-dropdown{
    margin: 80px
}

#neet-head{
    font-size: 30px;
    font-weight: 600;
}