.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-img-container {
  width: 40%;
  max-height: 400px;
  overflow: hidden;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text-container {
  width: 55%;
  padding: 20px;
  text-align: justify;
}

.about-name {
  margin-top: 0;
}

.about-qualification {
  margin-top: 5px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: normal;
}

.about-description {
  margin-bottom: 0;
}
.about-two img {
  width: 500px;
  height: auto;
}
.about-three img {
  width: 500px;
  height: auto;
}
.about-two,
.about-three {
  /* display: flex;
  justify-content: center; */
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-three{
  margin-top: -50px;
}
.about-harsh {
  margin-top: 80px;
  color: rgb(44, 77, 77);
}
.about-naureen {
  margin-top: 80px;
  color: rgb(44, 77, 77);

}
.aboutus p {
  font-size: 20px;
  /* color: black; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.aboutus p span{
  color: rgb(28, 90, 90);
  font-size: 19px;

}
.about-harsh span {
  font-size: 23px;
  font-family: 'Times New Roman', Times, serif;
}
.about-naureen span {
  font-size: 23px;
  font-family: 'Times New Roman', Times, serif;
}
@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-img-container {
    width: 100%;
    max-width: 350px;
    margin-bottom: 20px;
  }
  .about-card {
    max-width: 400px;
    align-items: center;
    justify-content: center;
  }
  .about-text-container {
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
}
